

.booking_animal_card {
  /*border : 1px solid #d2cbcb; */
  border-bottom: none;
  background-color: #f1f1f1ad;
  margin-bottom: 5px;
}

.section-hover h3 {
  margin-left: 5px;
  margin-top: 3px;
 font-size: 22px;
 padding-top: 8px;
  padding-left: 4px;
}

.list {
  padding-right: 72px;
}



.history {
  border-top: solid #dedbdb 1px;
  padding-bottom: 18px;
}
.history h2 {
  font-size: 2rem;
  padding-bottom: 35px;
  padding-top: 10px;

}

.date_review_container {
  padding-left: 30px;
  padding-top: 12px;
  padding-right: 20px;
}
.review {
  padding-left: 52px;

}
