
.booking_animal_card {
  border : 1px solid #d2cbcb;
  border-top-left-radius: 20px;
  border-top-right-radius: 30px;
  border-bottom: none;
}

.booking_history {
  border-bottom : 1px solid #d2cbcb;
  margin-top: 4px;
  margin-bottom: 18px;
  border-top-left-radius: 20px;
  border-top-right-radius: 30px;
}
