 <div class="container mt-5">
  <h1>Edit booking status</h1>
  <%= simple_form_for [@booking.animal, @booking] do |f| %>
    <%= f.input :status, collection: ['pending', 'confirmed', 'declined', 'completed'] %>
    <%= f.submit 'Confirm', class: 'btn btn-primary' %>
    <%= link_to 'Cancel', animal_booking_path(@booking.animal, @booking), class: 'btn btn-secondary' %>
  <% end %>
</div>
