<div class="container-fluid">
  <div class="row d-flex justify-content-around m-3">
    <div class="card col-5">
      <%= render template: 'animals/index' %>
      <!-- <h2>Killed Animals</h2> -->
      <%#= render template: 'animals/dead' %>
    </div>
    <div class="card col-5">
      <%= render template: 'bookings/index' %>
    </div>
  </div>
</div>
