<div class="container">
  <div class="row d-flex">
    <div class="col-6 mt-3">
      <h2>My Beloved Animals</h2>
      <%= render template: 'animals/index' %>
      <!-- <h2>Killed Animals</h2> -->
      <%#= render template: 'animals/dead' %>
    </div>
    <div class="col-6 mt-3">
      <h2>Future Bookings</h2>
      <%= render template: 'bookings/index' %>
    </div>
  </div>
</div>
