<div class="container-fluid">
  <div class="row d-flex justify-content-around m-3">

    <div class="card col-4">
      <%= render 'animals' %>
      <!-- <h2>Killed Animals</h2> -->
      <%#= render template: 'animals/dead' %>
    </div>

    <div class="card col-3">
      <%= render 'requests' %>
    </div>


    <div class="card col-4">
      <%= render 'bookings' %>
    </div>

  </div>
</div>

