<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://www.tripsavvy.com/thmb/lM9zx1S99Qmfij2Xf7kyxfIn7zM=/4256x2832/filters:no_upscale():max_bytes(150000):strip_icc()/llama-overlooking-ruins-of-the-ancient-city-of-machu-picchu--peru--639822048-5ba3d1e1c9e77c0050d73538.jpg')">
  <div class="container">
    <h1 class="mb-5">Rent your <strong>llamas, alpacas and more</strong> <br>where you want!</h1>
    <%= simple_form_for :search, url: root_path, method: :get do |f| %>
      <div class="search-form-control form-group">
        <input class="form-control string required" type="text" name="search[query]" id="search_query" placeholder="Enter your city" />
        <button name="button" type="submit" class="btn btn-primary">
          <i class="fas fa-search"></i> Search
        </button>
      </div>
    <% end %>
  </div>
</div>

<div class="container mt-3">
  <h2>Recommendations (cards per city of best llamas to rent)</h2>


     <div class="carte-verticale-template">
      <img class="cvert-photo" src="../../assets/images/sexy_lama.jpeg" alt="sexy_lama">
      <div class="cvert-inf">
        <div class="cvert-text">
          <h1>A TEXT</h1>
          <p> lorem ipsum et ete etetetetteettetette</p>
        </div>
         <div class="cvert-icon">
          <p>try font</p>
         </div>
      </div>
    </div>
</div>
