.mapboxgl-popup {
  max-width: 400px;
  width: 200px;
  height: 80px;
  border-radius: 5px;
}

.mapboxgl-popup-content {
  text-align: center;
  // font-family: 'Odibee Sans', cursive;
  color: #131722;
}

#info-map-text {
  color: #131722;
}
