.notification {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  background: white;
  padding: 6px 8px;
  // border-top: solid rgb(235,235,235);
  border-bottom: solid rgb(235,235,235);

}

.notification .notification-content {
  flex-grow: 1;
  padding: 0 24px;
}

.notification p {
  margin: 0;
  line-height: 1.4;
}

.notification small {
  color: #999999;
}
.notification .notification-actions {
  opacity: 0;
  display: flex;
  transition: ease .3s;
}

.notification:hover .notification-actions {
  opacity: 1;
}

.notification .notification-actions a {
  color: #999999;
  margin-left: 16px;
  font-size: 14px;
}

.notification .notification-actions a:hover {
  color: #555555;
}

small.first_line {
  color: #616771;
  font-weight: bold;
}

#edit_booking_1 {
  select {
    font-size: 15px;
    margin-top: 5px;

  }
}

.btn-ghost {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
}
